// Specific CSS for your home-page
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  background-image: asset-data-url("bg_home.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title-homepage {
  padding-top: 50px;

 }

.search-form {
  padding-top: 80px;
 }

.btn-my-beauty {
    color: #5C5656;
    background-color: #D5A682;
    border-color: #D5A682;
}
.input-my-beauty {
  background-color: #F8F3F3;
}

.container-steps {
  background-color: #CFA387;
  height: 380px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.steps {
  color: #F8F3F3;
  font-size: 25px;
  margin-top: 90px;
}
.white-bg {
  background-color: white;
}

.card-img {
height: 300px;
background-size: cover;

}
.card-description {
  background-color: #F8F3F3;
  height: 300px;
  padding-top: 130px;
  font-size: 24px;
}
