<body>

<div class="bg">

  <div class="row">
    <div class="col text-center">
      <div class="title-homepage">
        <h1>MY BEAUTY</h1>
        <h1>MY WAY</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 offset-md-6 search-form">
      <form action="/action_page.php">
        <div class="form-group">
          <input type="find-treatment" class="form-control input-my-beauty" placeholder="Find your treatment" id="find-treatment">
        </div>
        <div class="form-group">
          <input type="your-password" class="form-control input-my-beauty" placeholder="Your Postcode" id="your-postcode">
        </div>
        <div class="form-group">
          <input type="booking-date" class="form-control input-my-beauty" placeholder="Booking Date" id="booking-date">
        </div>
        <button type="submit" class="btn btn-my-beauty">Search</button>
      </form>
    </div>
  </div>

</div>
<div class="text-center p-3">
  <p>TREATMENTS IN THE COMFORT OF YOUR OWN HOME</p>
</div>

<div class="container-steps">
  <div class= "text-center steps">
    <i class="fas fa-search fa-3x"></i>
    <p class= "pt-4">Find a beautician who is right for you</p>
  </div>
  <div class="text-center steps">
    <i class="fas fa-calendar-alt fa-3x"></i>
    <p class= "pt-4">Book a date and time that suits you the best</p>
  </div>
  <div class="text-center steps">
   <i class="fas fa-smile-beam fa-3x"></i></i>
    <p class= "pt-4">Enjoy!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</p>
  </div>

</div>



</body>
