 <div class="cards">
    <% @beautician_treatments.each do |treatment| %>
    <div class="col-lg-4 col-md-6 col-sm-12 p-3">
      <div class="card treatment-service-card">
        <div class="card-body">
          <h4 class="card-title"><%= treatment.name %></h4>
          <p class="card-text"><%= treatment.description %></p>
        </div>
        <div class="card-footer text-center bg-white">
          <p class="card-text price-bold">£<%= treatment.cost %></p>
          <%= link_to "Edit Treatment",  edit_beautician_treatment_path(treatment), class: "btn btn-my-beauty"%>
        </div>
      </div>
    </div>
    <% end %>
  </div>