<div class="cards">

  <% @beauticians.each do |beautician| %>
    
    <div class="col-lg-4 col-md-6 col-sm-12 p-3">
      <div class="card">

        <div class="image_card">
          <% if beautician.banner_photo.attached? %>
            <%= cl_image_tag beautician.banner_photo.key, height: 211, width: 338, crop: :fill %>
          <%else%>
          <img src = "/assets/no-img.png">
          <%end%>


            </div>
        <div class="card-body">
          <h4 class="card-title"><%= beautician.name %></h4>
          <p class="card-text"><%= beautician.description %></p>

        </div>
        <div class="card-footer text-center bg-white">
          <%= link_to "View Profile", beautician_path(beautician), class: "btn btn-outline-secondary" %>
        </div>
      </div>
    </div>

  <% end %>
</div>
