<div class="container" data-controller="search">

  <div>
    <div class="col-md-8 offset-md-2">
      <%= form_tag beauticians_path, method: :get, style: "display: flex;" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control my-4",
          placeholder: "Search by Beauticians, Treatments or Location", data: {action: "keyup->search#searchInput", target: "search.input"}
        %>
        
      <% end %>
    </div>
    
  </div>

  <div class="row">
    
    <div id="search-results">
      <%= render "card", beauticians: @beauticians %>
    </div>
    
  </div>
</div>