<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 offset-sm-4">
      <div class="form">
        <h1>Create your Beautician Page!</h1>
       <%= render "form", beautician: @beautician %>
      </div>
    </div>
  </div>
</div>